extends common/index
block content

  #home-container.text-dark
    h1.my-2.font-weight-bold Welcome!
    p.mb-3
      | This is home page. Log in to access your profile!
    div.info.mb-4
      | This's a simple Nodejs appplication using passprort-local, passport-google-oauth20, passport-facebook to authenticate users.
    a.py-2.px-4.rounded.text-decoration-none(href="/auth/login")
      | Log in